img{
	width:200px;
	height:200px;

}
.ds{
	width:200px;
	height:200px;
	float:left;
	list-style: none;
	text-align: center;
	margin:10px;
}

img:hover{
	border:1px solid red;
    
}
input{
	margin-left:20px;
}
body{
	background-color: gray;
}
